/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', cursive;
    user-select: none;
    text-transform: uppercase;
    text-align: center;
}

body{
    background-color: rgb(24, 24, 69);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background-color: rgb(70, 66, 66);
    padding: 13px;
    display: inline-block;
    border-radius: 10px;
    position: relative;
}

#result{
    width: 550px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    font-size: 50px;
    margin-top: 20px;
    border-radius: 20px;
}

#input{
    height: 50px;
    width: 300px;
    font-size: 30px;
    border: none;
    background-color: rgb(237, 232, 232);
    border-radius: 49px;
}

#conferm{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 13px;
    right: 13px;
    border-radius: 50%;
    border: none;
}

#conferm:hover{
    background-color: rgba(0, 128, 0, 0.291);
    cursor: pointer;
}